@charset "UTF-8";
.back-1 {
  height: 500px;
  background-image: url(../../image/coffee-background.jpg);
}

.back-2 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.back-3 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center / cover;
}

.back-4 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat center / contain;
}